* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    background-color: #000000;
}

.container {
    height: 70vh;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.game {
    height: 60vmin;
    width: 60vmin;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: #2151b9;
    background-color: #fff;
}

#reset-btn {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #191913;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}