body {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    height: 1000px;
    width: 700px;
    background-color: rgb(246, 241, 241);

}

.box{
    position:fixed;
    height: 200px;
    width: 200px;    
    border-radius: 12px;
    text-align: center;
    margin: 20px;
}
.red{
    position: relative;
    top: 30px;
    right   : 0 px;
    background-color: rgba(232, 20, 20, 0.711);
}

.black{
    position: absolute;
    bottom: 500px;
    background-color: rgba(28, 26, 26, 0.726);
}