* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card {
    height: 450px;
    width: 30   0px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
}

#card img {
    width: 100%;
    height: 50%   ;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

#card h1 {
    font-size: 30px;
    padding: 20px 0;
}
#card h5 {
    font-size: 30px;
    color: red;
    margin-bottom: 20px;
}

#card button {
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    /* padding: 12px 20px; */
    height: 40px;
    width: 120px;
    margin: 5px;
    cursor: pointer;
}
