*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    display: flex;
    position: fixed;
    min-width: 100vw;
    top: 0;
    height:80px;
    color: white;
    background-color: black;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.logo{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 10px;
    transition: 0.3s;
}

.logo:hover{
    color: orange;
}

.nav ul{
    display: flex;
    margin-right: 30px;
    gap: 40px;
}

ul li{
    list-style-type: none;
}

li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

li a:hover{
    color: orange;
}


.main{
    min-height: 100vh;
    margin: 20px;
}

section{
    display: flex;
    height: 300px;
    margin: 30px 0;
    background-color: #dcd2d2f7;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.about{
    margin-top: 100px;
}

#about .photo img{
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 50%;
    margin: 20px;
}

.about-content{
    margin: 60px;
    line-height: 40px;
}

.head{
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-size: 2.5rem;
}



















.footer{
    position: relative;
    background-color: black;
    bottom: 0;
    max-width: 100vw;
    color: white;
    padding: 10px;
    text-align: center;
    line-height: 1.2rem;
}

.footer p{
    transition: 0.3s;
    
}

.footer p:hover{
    color: rgb(230, 166, 47);
}