* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;

}

body{
    height: 95vh;
    width: 99%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: black;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

.cursor {
    height: 40px;
    width: 40px;
    background-color: #cc2ce2;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    transition: all 0.2s linear ;
}

h1 {
    font-size: 9vw;
    font-weight: 900;
}