* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 186, 236);
}

#container {
    height: 400px;
    width: 350px;
    background-color: #fff;
    border-radius:8px ;
    position: relative;
    overflow: hidden;
}
#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

#container i {
    font-size: 75px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
    transition: transform 0.4s ease;
}
